# Which database type to use - sqlite or postgres
DB_DRIVER=sqlite

# Used when DB_DRIVER=postgres
DB_HOST=database
DB_USER=postgres
DB_PASS=postgres
DB_NAME=app
DB_PORT=5432

# Used when DB_DRIVER=sqlite 
DB_SQLITE_PATH=file::memory:?cache=shared
