package main

import (
	"log"

	"{{ .AppName }}/lib/infrastructure/database"
)

func main() {
	db, err := database.NewDB()
	if err != nil {
		log.Fatal(err)
	}
	defer db.Close()

	log.Println("Connected to database")
}
